{{define "event-form"}}

<div id="book-form" class=" sm:w-9/12 md:w-1/2 m-auto py-10 px-5">
    <form hx-encoding='multipart/form-data'>
        <div class="space-y-12">
            <div>
                <h2 class="text-base font-semibold leading-7 text-gray-900">Added a new Book</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">Please use this form to add a new book.</p>
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8">
                    <div class="sm:col-span-3">
                        <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                        <div class="mt-2">
                            <input type="text" name="title" id="title" placeholder="Title" autocomplete="title"
                                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="shortDescription" class="block text-sm font-medium leading-6 text-gray-900">Short
                            Description</label>
                        <div class="mt-2">
                            <input type="text" name="shortDescription" id="shortDescription"
                                placeholder="Short Description" autocomplete="shortDescription"
                                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="description"
                            class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                        <div class="mt-2">
                            <input type="text" name="description" id="description" placeholder="Description"
                                autocomplete="description"
                                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="description" class="block text-sm font-medium leading-6 text-gray-900">Image
                            file</label>
                        <div class="flex mt-2" x-data="imageViewer()">
                            <template x-if="!imageUrl">
                                <div
                                    class="flex items-center w-[100px] h-[100px] border rounded border-gray-200 bg-gray-100 sm:mr-2">
                                    <svg class="w-[90px] h-[90px] text-gray-800 dark:text-gray-300" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                                        <path
                                            d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z" />
                                        <path
                                            d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z" />
                                    </svg>
                                </div>
                            </template>
                            <template x-if="imageUrl">
                                <img class="w-[100px] h-[100px] rounded-md sm:mr-2" :src="imageUrl" />
                            </template>
                            <input type="file" name="imageFile" id="imageFile" placeholder="Upload image"
                                accept="image/*" @change="fileChosen" class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6 file:mr-4 file:py-2 file:px-4
                                file:rounded-md file:border-0
                                file:text-sm file:font-semibold
                                file:bg-black file:text-white
                                hover:file:bg-indigo-500">
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Date</label>
                        <div class="mt-2">
                            <input type="datetime-local" name="date" id="date" placeholder="Date" autocomplete="date"
                                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="registration"
                            class="block text-sm font-medium leading-6 text-gray-900">Registration</label>
                        <div class="mt-2">
                            <input type="datetime-local" name="registration" id="registration"
                                placeholder="Registration" autocomplete="registration"
                                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="button" class="text-sm font-semibold leading-6 text-gray-900" hx-get="/api/exp-html/home"
                hx-target="#body-content" hx-swap="outerHTML">Cancel</button>
            <button hx-post="/api/event-page" hx-target="#body-content" hx-swap="outerHTML" hx-indicator="#processing"
                hx-disabled-elt="this" type="submit"
                class="flex items-center gap-2 rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                <span id="processing" class="spinner animate-spin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z">
                        </path>
                    </svg>
                </span>
                Save
            </button>
        </div>
    </form>
</div>

{{end}}