{{define "nav"}}

<button class="inline-flex p-1 m-1 fixed top-4  text-white rounded-md shadow-md z-30"
    :class="{'bg-red-600 left-28': open, 'bg-black left-0': !open}" @click="open = !open">
    <svg class="w-5 h-5 hidden" :class="{'hidden': open, 'flex': !open}" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m7 9 4-4-4-4M1 9l4-4-4-4" />
    </svg>
    <svg class="w-5 h-5 hidden" :class="{'hidden': !open, 'flex': open}" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 1 1 5l4 4m6-8L7 5l4 4" />
    </svg>
</button>

<nav id="navMenu" class="flex-col px-2 bg-black text-zinc-50 z-20" :class="{'hidden': !open, 'flex': open}">

    <h2 class="mt-6 text-lg uppercase shadow-2xl">Go HTMX App</h2>
    <div class="flex flex-col justify-between h-full shadow-2xl">
        <div class="mt-6">
            <a class="bg-slate-50 bg-opacity-10 flex items-center gap-1 p-1 rounded-sm my-2 hover:bg-slate-50 hover:text-black"
                hx-get="/api/exp-html/home" hx-target="#body-content" hx-swap="outerHTML">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M6.143 1H1.857A.857.857 0 0 0 1 1.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 7 6.143V1.857A.857.857 0 0 0 6.143 1Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 17 6.143V1.857A.857.857 0 0 0 16.143 1Zm-10 10H1.857a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 7 16.143v-4.286A.857.857 0 0 0 6.143 11Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286a.857.857 0 0 0-.857-.857Z" />
                </svg>
                <span>Dashboard</span>
            </a>
            <a class="bg-slate-50 bg-opacity-10 flex items-center gap-1 p-1 rounded-sm my-2 hover:bg-slate-50 hover:text-black"
                href="#" hx-get="/api/exp-html/content" hx-target="#body-content" hx-swap="outerHTML">
                <svg class=" w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 16 20">
                    <path
                        d="M16 14V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 0 0 0-2h-1v-2a2 2 0 0 0 2-2ZM4 2h2v12H4V2Zm8 16H3a1 1 0 0 1 0-2h9v2Z" />
                </svg>
                <span>Book</span>
            </a>
        </div>
        <div class=" mt-6 shadow-2xl">
            <a class=" flex gap-1 items-center p-1 rounded-sm mb-5 bg-slate-50 bg-opacity-10 hover:bg-slate-50 hover:text-black"
                href="#">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path
                            d="M19 11V9a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L12 2.757V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L2.929 4.343a1 1 0 0 0 0 1.414l.536.536L2.757 8H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535L8 17.243V18a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H18a1 1 0 0 0 1-1Z" />
                        <path d="M10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </g>
                </svg>
                <span>Settings</span>
            </a>
            <a class=" flex gap-1 items-center p-1 rounded-sm my-1 bg-red-600 bg-opacity-20 hover:bg-red-600 hover:text-black"
                href="#">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 15">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 7.5h11m0 0L8 3.786M12 7.5l-4 3.714M12 1h3c.53 0 1.04.196 1.414.544.375.348.586.82.586 1.313v9.286c0 .492-.21.965-.586 1.313A2.081 2.081 0 0 1 15 14h-3" />
                </svg>
                <span>Logout</span>
            </a>
        </div>
    </div>
</nav>
{{end}}