{{ define "dashboard-body" }}

<div class="grid grid-cols-1 sm:grid-cols-5 md:grid-cols-6 m-4">
    <div class="sm:col-span-1 md:col-span-2 sm:mr-2">
        {{template "pie-chart" .}}
    </div>

    <div class=" sm:col-span-5 md:col-span-4 rounded-md shadow-md bg-black">
        {{ template "dashboard-table-info" .}}
    </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-5 md:grid-cols-6 m-4">
    <div class="sm:col-span-2 md:col-span-4 rounded-md shadow-md bg-black">
        <h5 class=" text-black">2</h5>
    </div>

    <div class=" sm:col-span-3 md:col-span-2 sm:ml-2">
        {{ template "bar-chart"}}
    </div>
</div>

{{ end }}