{{ define "dashboard-body" }}

<div class="grid grid-cols-1 sm:grid-cols-5 md:grid-cols-6 m-4">
    <div class="sm:col-span-3 md:col-span-4">
        <h5 class=" text-black">2</h5>
        <table
            class="charts-css column show-heading show-labels show-primary-axis show-4-secondary-axes show-data-axes data-spacing-15 hide-data">

            <caption> Chart Heading </caption>

            <thead>
                <tr>
                    <th scope="col"> Year </th>
                    <th scope="col"> Value </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th> 2016 </th>
                    <td style="--size: calc( 20 / 100 );"> 20 </td>
                </tr>
                <tr>
                    <th> 2017 </th>
                    <td style="--size: calc( 40 / 100 );"> 40 </td>
                </tr>
                <tr>
                    <th> 2018 </th>
                    <td style="--size: calc( 60 / 100 );"> 60 </td>
                </tr>
                <tr>
                    <th> 2019 </th>
                    <td style="--size: calc( 80 / 100 );"> 80 </td>
                </tr>
                <tr>
                    <th> 2020 </th>
                    <td style="--size: calc( 100 / 100 );"> 100 </td>
                </tr>
            </tbody>

        </table>
    </div>

    <div class=" sm:col-span-2 md:col-span-2 rounded-md shadow-md bg-black">
        <h5 class=" text-black">2</h5>
    </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-5 md:grid-cols-6 m-4">
    <div class=" sm:col-span-3 md:col-span-2">
        <h5 class=" text-black">2</h5>
    </div>

    <div class="sm:col-span-2 md:col-span-4 rounded-md shadow-md bg-black">
        <h5 class=" text-black">2</h5>
    </div>
</div>

{{ end }}