{{ define "dashboard-table-info" }}
<div class=" p-2">
    <div class=" overflow-x-auto">
        <table class="w-full whitespace-nowrap">
            <thead class=" bg-black rounded-md mb-4 font-semibold text-sm text-white">
                <tr>
                    <th>Title</th>
                    <th>Short description</th>
                    <th>Date</th>
                    <th>View detail</th>
                </tr>
            <tbody>
                {{range .bookList}}
                <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 rounded">
                    <td>
                        <div class="flex items-center pl-5">
                            <p class="text-base font-medium leading-none text-gray-700 mr-2">
                                {{.ID}}
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="flex items-center pl-5">
                            <p class="text-base font-medium leading-none text-gray-700 mr-2">
                                {{.Title}}
                            </p>
                        </div>
                    </td>
                    <td class="pl-4">
                        <button type="button"
                            class="flex gap-2 items-center hover:ring-2 hover:ring-offset-2 hover:ring-black text-sm leading-none text-white py-3 px-5 bg-black rounded focus:outline-none">
                            <svg class="w-5 h-5 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 20 14">
                                <path
                                    d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z" />
                            </svg>
                            View
                        </button>
                    </td>
                </tr>
                {{end}}
            </tbody>
            </thead>
        </table>
    </div>
</div>
{{ end }}