{{define "dashboard-header"}}

<div class="mx-4">
    <div class="grid grid-cols-1 gap-2 sm:grid-cols-4 my-4">
        <div class="rounded-md shadow-md sm:max-w-[180px] md:max-w-[380px] bg-black text-white">
            <div class=" flex items-center gap-3 p-3">
                <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M11 14h6m-3 3v-6M1.857 1h4.286c.473 0 .857.384.857.857v4.286A.857.857 0 0 1 6.143 7H1.857A.857.857 0 0 1 1 6.143V1.857C1 1.384 1.384 1 1.857 1Zm10 0h4.286c.473 0 .857.384.857.857v4.286a.857.857 0 0 1-.857.857h-4.286A.857.857 0 0 1 11 6.143V1.857c0-.473.384-.857.857-.857Zm-10 10h4.286c.473 0 .857.384.857.857v4.286a.857.857 0 0 1-.857.857H1.857A.857.857 0 0 1 1 16.143v-4.286c0-.473.384-.857.857-.857Z" />
                </svg>
                <div class=" text-white">
                    <p class=" text-xs">Title</p>
                    <p class=" text-2xl">Info</p>
                </div>
            </div>
        </div>

        <div class="rounded-md shadow-md sm:max-w-[180px] md:max-w-[380px] bg-black text-white">
            <div class=" flex items-center gap-3 p-3">
                <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 12v5m5-9v9m5-5v5m5-9v9M1 7l5-6 5 6 5-6" />
                </svg>
                <div class=" text-white">
                    <p class=" text-xs">Title</p>
                    <p class=" text-2xl">Info</p>
                </div>
            </div>
        </div>

        <div class="rounded-md shadow-md sm:max-w-[180px] md:max-w-[380px] bg-black text-white">
            <div class=" flex items-center gap-3 p-3">
                <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 20 18">
                    <path
                        d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
                </svg>
                <div class=" text-white">
                    <p class=" text-xs">Title</p>
                    <p class=" text-2xl">Info</p>
                </div>
            </div>
        </div>

        <div class="rounded-md shadow-md sm:max-w-[180px] md:max-w-[380px] bg-black text-white">
            <div class=" flex items-center gap-3 p-3">
                <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 21">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 3.464V1.1m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175C17 15.4 17 16 16.462 16H3.538C3 16 3 15.4 3 14.807c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 10 3.464ZM1.866 8.832a8.458 8.458 0 0 1 2.252-5.714m14.016 5.714a8.458 8.458 0 0 0-2.252-5.714M6.54 16a3.48 3.48 0 0 0 6.92 0H6.54Z" />
                </svg>
                <div class=" text-white">
                    <p class=" text-xs">Title</p>
                    <p class=" text-2xl">Info</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}